<div class="container-fluid">
  <div class="row home">
    <div class="col-md-12 splash">
      <div class="content-wrapper">
        <div class="intro">
          <h3>Welcome to <b>ream</b></h3>
        </div>
        <div class="sub">
          <p>a place where you can create, view and manage property ads, for your real estate!</p>
        </div>
        <%= link_to "Start Now", new_property_ad_path, type: 'button', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
