/* 
1. Navbar
2. Homepage
3. Devise Forms
4. REA Pages
*/


/* 1. Navbar */
.navbar-expand-md .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar.navbar-expand-md.navbar-light.bg-light {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

a.navbar-brand {
    font-family: cursive;
    font-size: 28px;
}

ul.navbar-nav {
    font-family: cursive;
    font-size: 18px;
}

/* 2. Homepage */
.splash {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    max-width: 992px;
    padding: 10px;
}

.splash p {
    padding-top: 10px;
}


/* 3. Devise Forms */
.devise-forms-wrapper {
    margin: auto;
    width: auto;
    min-width: 200px;
    max-width: 400px;
    padding-top: 30px;
}

.devise-forms-wrapper .field {
    margin-top: 20px;
}

.devise-forms-wrapper .field .form-label {
    margin-bottom: 0px;
}

.devise-forms-wrapper .actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.danger-zone-wrapper {
    padding: 20px;
    border: 2px solid #dc3545;
    border-radius: 10px;
    margin-top: 20px;
}


/* 4. REA Pages */
.rea-index-wrapper {
    padding-top: 30px;
}

.card-wrapper {
    margin-bottom: 10px;
}

.card.card-show-page {
    border: none;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background-color: transparent;
}

.card.card-show-page .card-header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.card-show-page .card-show-actions {
    display: flex;
}

.card.card-show-page .edit-action, .card.card-show-page .delete-action {
    margin-left: 5px;
}

.card.card-show-page .card-body {
    padding: 0px;
}

.REA-creation-forms-wrapper {
    margin: auto;
    width: auto;
    min-width: 200px;
    max-width: 400px;
    padding-top: 30px;
}
.REA-creation-forms-wrapper .field {
    margin-top: 20px;
}

.REA-creation-forms-wrapper .field .form-label {
    margin-bottom: 0px;
}

.side-label {
    font-style: italic;
    color: gray;
}